<!-- 人员档案 by Hisheng -->
<div class="staff container-fluid" id="staff" ng-controller="TeamPerformanceListController">
    <div class="loading" ng-if="loading=='loading'"><img src="/public/images/loading.gif" alt=""></div>
    <div class="TeamPerformanceList-TopHeight">
        <div class="row" style="margin-top:5px;">
            <div class="col-sm-1">
                <button type="button" class="btn defaultBtn" ng-click="search()">查询 <i class="glyphicon glyphicon-search"></i></button>
            </div>
            <div class="col-sm-1"><button class="btn defaultBtn" ng-click="resetParams()">清空 <i class="glyphicon glyphicon-retweet"></i></button></div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>查询日期:</label>
                <p class="input-group">
                    <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" enable-date="true" timepicker-options="" close-on-selection="true" ng-model="params.start_time" is-open="date1Open" enable-time="false" placeholder="无时分秒">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="date1Open=true"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-2">
                <label>截止日期:</label>
                <p class="input-group">
                    <input type="text" class="form-control" datetime-picker="yyyy-MM-dd HH:mm" enable-date="true" timepicker-options="" close-on-selection="true" ng-model="params.end_time" is-open="date2Open" enable-time="false" placeholder="无时分秒">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="date2Open=true"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-sm-2">
                <label>用户名称</label>
                <input type="text" class="form-control author" placeholder="用户名称" ng-model="params.author">
            </div>
            <div class="col-sm-2">
                <label>提交内容</label>
                <input type="text" class="form-control msg" placeholder="提交内容" ng-model="params.msg">
            </div>
        </div>
        <div class="row" style="padding-bottom:5px;">
            <div class="col-sm-2">
                <label>项目名称</label>
                <input type="text" class="form-control project" placeholder="项目名称" ng-model="params.project">
            </div>
            <div class="col-sm-2">
                <label>分支名称</label>
                <input type="text" class="form-control branch" placeholder="分支名称" ng-model="params.branch">
            </div>
            <div class="col-sm-2">
                <label>hash</label>
                <input type="text" class="form-control hash" placeholder="Hash" ng-model="params.hash">
            </div>
        </div>
    </div>
    <table class="tableClass table-bordered" id="TeamPerformanceList-table">
        <tr class="pos-i">
            <th class="date" ng-click="sortBy('date')">截止日期<i class="glyphicon glyphicon-sort"></i>  </th>
            <th class="author" ng-click="sortBy('author')">用户名称<i class="glyphicon glyphicon-sort"></i>  </th>
            <th class="msg" ng-click="sortBy('msg')">提交内容<i class="glyphicon glyphicon-sort"></i>  </th>
            <th class="project" ng-click="sortBy('project')">项目名称<i class="glyphicon glyphicon-sort"></i>  </th>
            <th class="branch" ng-click="sortBy('branch')">分支名称<i class="glyphicon glyphicon-sort"></i>  </th>
            <th class="hash" ng-click="sortBy('hash')">hash<i class="glyphicon glyphicon-sort"></i>  </th>

        </tr>
        <tbody>
        <tr ng-repeat="gitPerf in gitPerfListItems" class="{{gitPerf.hash}}">
            <td>{{gitPerf.dateStr}}</td>
            <td>{{gitPerf.author}}</td>
            <td>{{gitPerf.msg}}</td>
            <td>{{gitPerf.project}}</td>
            <td>{{gitPerf.branch}}</td>
            <td>{{gitPerf.hash}}</td>
        </tr>
        </tbody>
        <tr class="tfootClass">
            <th>--</th>
            <th>--</th>
            <th>--</th>
            <th>--</th>
            <th>--</th>
            <th>--</th>
        </tr>
    </table>

    <div class="pospage">
        <div class="col-md-6">
            <uib-pagination boundary-links="true" total-items="totalItems" max-size='10'
                            ng-change="pageChanged()" ng-model="current_page" items-per-page="nums_per_page"
                            class="pagination-sm" previous-text="上页" next-text="下页" first-text="首页"
                            last-text="末页" force-ellipses="true" rotate="true" boundary-link-numbers="true">
            </uib-pagination>
        </div>

        <div class="col-md-1">
            <div style="margin-top:20px;">
                <select class="form-control" ng-model="nums_per_page" ng-change="pageChanged()" id="itemsPerPage">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="1000">1000</option>
                    <option value="5000">5000</option>
                </select>
            </div>
        </div>

        <div class="col-md-1">
            <div class="input-group" style="margin-top:20px;">
                <input type="text" class="form-control" placeholder="page" ng-model="current_page">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="pageChanged()">Go!</button>
                </span>
            </div>
        </div>
        <div class="col-md-2" style="padding-top:25px;text-align:center">共[ <b>{{totalItems}}</b> ]条记录 - {{nums_per_page}} 条/页</div>
        <div class="col-md-1" style="padding-top:25px;text-align:center">{{current_page}} / {{numPages}}</div>
    </div>
</div>

