<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%=ui.page_title%></title>
    <script src="/public/javascripts/jquery-1.9.1.min.js"></script>
    <link  href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="/fe/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/fe/jshashes/hashes.min.js"></script>
    <script src="/fe/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="/fe/toastr/toastr.min.css"/>

    <style>
        body{
            background-color: #323b55;
            vertical-align: middle;
        }
        .row{
            margin-top: 10px;
        }
        .loginPrompt{
            font-size: 10rem;
            font: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
            color: white;
        }
        .no-border{
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    </style>
</head>
<body>

<div class="container-fluid" style="">
    <div class="form" style="position:absolute;top:35%;left:35%">
        <form id="slick-login" action="/login" method="post">
            <div class="row loginPrompt">
                <h2><%=ui.page_title%> - 登录：</h2>
            </div>
            <div class="row"><input name="username" class="form-control" placeholder="用户名" type="text" value="admin" id="username"></div>
            <div class="row"><input name="password" class="form-control" placeholder="密码" type="password" value="xxxxxx" id="password"></div>
            <% if (enable_login_captcha == 1){ %>
                <div class="row">
                    <div class="form-group no-border">
                        <div class="col-md-5" style="padding-left: 0px;padding-right: 0px">
                            <img id="captcha" class="" style="width: 100%;max-height: 100%" src="/captcha/update" alt="" onclick="javascript:refreshCaptcha()"/>
                        </div>
                        <div class="col-md-1">
                            <span style="vertical-align: middle;color: white;font-size: 3rem;padding-left: 0px">=</span>
                        </div>
                        <div class="col-md-6 no-border">
                            <input name="code" class="form-control"  placeholder="请输入图中算式的结果" autocomplete="off" type="text" value="" id="code">
                        </div>
                    </div>
                </div>
            <% } %>
            <!--<div class="row"><input class="form-control" value="点我登录" type="submit" onclick="javascript:login();"></div>-->
            <div class="row"><input id="submitLoginForm" class="form-control" value="点我登录" type="button" ></div>
        </form>
    </div>

    <div class="row" style="bottom: 10px;position: absolute;color: #33aaff;width: 100%">
        <p style="text-align: center">Copyright ©<%=ui.copy_right_year%> <%=ui.company_cns_abbrev%> <%=ui.company_web_site%> All Rights Reserved　 |　<%=ui.company_cns_name%>　|　<a href="http://www.miitbeian.gov.cn"><%=ui.ICP_beian_sn%></a></p>
    </div>
</div>
</div>

</body></html>
<script>

    function refreshCaptcha(){
        var now = new Date();
        var ts = now.getMilliseconds();
        document.getElementById('captcha').setAttribute('src', '/captcha/update?v=' + ts );
    }

    $(document).ready(function(){
        var md5 = new Hashes.MD5;

        $('#submitLoginForm').click(function(){
            var loginData = {
                username: $('#username').val(),
                password: md5.hex( $('#password').val() ),

            };
            console.log('           loginData  = ');  console.dir(loginData);
            $.post('/login', loginData, function(res,p2,p3){
                // console.log('           res  = ');  console.dir(res);
                if(res.result == true){
                    window.location = '/pages';
                } else {
                    toastr.error(res.msg);
                }
            });
        });



    });

</script>