<div class="sidebarbg">
    <ul class="sidebar" ng-class="{'sidebar-menuOff':nav_status == true}">
        <li ng-click="addTab('首页','/RessourceURI','/ModuleName/ControllerName','SCENE')">
            首页
        </li>
        <li ng-click="addTab('TeamPerformance','/TeamPerformance/list','/TeamPerformance/TeamPerformanceListController','list')">
            TeamPerf
        </li>
        <!--注意   RightNameENS 必须是英文，并且两个出现的位置名字必须一致，才能够正常显示弹出的下级菜单-->
        <li ng-mouseenter ="showSubItems('RightNameENS_01')" ng-mouseleave="showSubItems(no)">
            模块名称 1
            <div class="posDl" ng-show="navItem=='RightNameENS_01'">
                <dl class="clearfix">
                    <dt>分组名称 11</dt>
                    <div class="ddList">
                        <dd ng-click="addTab('功能名称111','功能HTML页面URI','功能控制器','场景')">功能名称111</dd>
                        <dd ng-click="addTab('功能名称112','功能HTML页面URI','功能控制器','场景')">功能名称112</dd>
                    </div>
                </dl>
                <dl class="clearfix">
                    <dt>分组名称 12</dt>
                    <div class="ddList">
                        <dd ng-click="addTab('功能名称121','功能HTML页面URI','功能控制器','场景')">功能名称121</dd>
                        <dd ng-click="addTab('功能名称122','功能HTML页面URI','功能控制器','场景')">功能名称122</dd>
                        <dd ng-click="addTab('功能名称123','功能HTML页面URI','功能控制器','场景')">功能名称123</dd>
                        <dd ng-click="addTab('TeamPerformance222','/TeamPerformance/list','/TeamPerformance/TeamPerformanceListController','list222')">TeamPerformance222</dd>
                    </div>
                </dl>
            </div>
        </li>

        <li ng-mouseenter ="showSubItems('RightNameENS_02')" ng-mouseleave="showSubItems(no)">
            模块名称 2
            <div class="posDl" ng-show="navItem=='RightNameENS_02'">
                <dl class="clearfix">
                    <dt>分组名称 21</dt>
                    <div class="ddList">
                        <dd ng-click="addTab('功能名称211','功能HTML页面URI','功能控制器','场景')">功能名称211</dd>
                        <dd ng-click="addTab('功能名称212','功能HTML页面URI','功能控制器','场景')">功能名称212</dd>
                        <dd ng-click="addTab('功能名称213','功能HTML页面URI','功能控制器','场景')">功能名称213</dd>
                        <dd ng-click="addTab('功能名称214','功能HTML页面URI','功能控制器','场景')">功能名称214</dd>
                    </div>
                </dl>
                <dl class="clearfix">
                    <dt>分组名称 22</dt>
                    <div class="ddList">
                        <dd ng-click="addTab('功能名称221','功能HTML页面URI','功能控制器','场景')">功能名称221</dd>
                        <dd ng-click="addTab('功能名称222','功能HTML页面URI','功能控制器','场景')">功能名称222</dd>
                    </div>
                </dl>
            </div>
        </li>



    </ul>
</div>
<script>
    // var env = $("#env").text();
    var env = 1;
    if(env == 3 || env =='prod'){
        $(".sidebar li").css("border-top","1px solid #393941");
        $(".sidebar").css({"background-color":"#32323a","border-right":"1px solid #32323a"});
    }else if(env == 1 || env =='dev'){
        $(".sidebar li").css({"border-top":"1px solid #5391c7","color":"#fff"});
        $(".sidebar").css({"background-color":"#337ab7","border-right":"1px solid #337ab7"});
    }else if(env == 2 || env =='int'){
        $(".sidebar li").css({"color":"#fff","border-top":"1px solid #C5E0DC"});
        $(".sidebar").css({"background-color":"#1FB5AC","border-right":"1px solid #1FB5AC"});
    }else{
        $(".sidebar li").css({"border-top":"1px solid ##8a6798","color":"fff"});
        $(".sidebar").css({"background-color":"#5b2f6d","border-right":"1px solid #5b2f6d"});
    }
</script>