<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>team-perfomance-viewer</title>
    <!-- js -->
    <script src="/fe/jshashes/hashes.min.js"></script>
    <script src="/public/javascripts/jquery-1.9.1.min.js"></script>

    <script src="/public/javascripts/jquery.freezeheader.js"></script>
    <!--<script src="/js/qs/querystring.min.js"></script> &lt;!&ndash; 用于querystring查询的编码解码 &ndash;&gt;-->
    <script type="text/javascript" data-main="webapp/webapp" src="/public/javascripts/require.min.js" charset="UTF8"></script>

    <!-- css -->
    <link  href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link  href="/public/stylesheets/style.css" rel="stylesheet">

    <!--<link rel="stylesheet" type="text/css" href="/ngTree/css/tree-control.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/ngTree/css/tree-control-attribute.css">&lt;!&ndash; 树形结构控件 &ndash;&gt;-->


</head>
<body class="bodyStyle" ng-controller="layoutController" id="panel" ng-cloak>
<!-- 顶部 -->
<header class="headStyle" style="background-size:100%;color: white">
    <div class="row">
        <div class="col-md-2">
            <div class="col-md-6">aaa</div>
            <div class="col-md-6">bbb</div>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <div class="col-md-4">111</div>
            <div class="col-md-4">222</div>
            <div class="col-md-4">333</div>
        </div>

    </div>

</header>
<div class="row">
    <div ng-include="'/nav'" id="header"></div>


</div>
</body>
</html>