<div class="row" >
    <h2 style="text-align: center;">{{params.dialog_title}}</h2>
</div>
<div class="panel">
    <div class="row">
        <div class="col-md-3">
            <label>项目名称</label>
            <input type="text" class="form-control projectName" placeholder="项目名称" ng-model="dialogParams.projectName">
        </div>
        <div class="col-md-3">
            <label>仓库名称</label>
            <input type="text" class="form-control repoName" placeholder="仓库名称" ng-model="dialogParams.repoName">
        </div>
        <div class="col-md-3">
            <label>项目位置</label>
            <input type="text" class="form-control projectFolder" placeholder="项目位置" ng-model="dialogParams.projectFolder">
        </div>
        <div class="col-md-3">
            <label>监控的代码分支</label>
            <input type="text" class="form-control branches" placeholder="监控的代码分支" ng-model="dialogParams.branches">
        </div>
        <div class="col-md-3" style="display: none;">
            <label>record_id</label>
            <input type="text" class="form-control branches" placeholder="record_id" ng-model="dialogParams._id">
        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-1"><div class="btn btn-primary" ng-click="saveEditProjectSupervisor()">保存</div></div>
    <div class="col-md-1"><div class="btn btn-primary" ng-click="close()">取消</div></div>
</div>

